json/
artifact/
venv/
artifact.zip
**/results/*
**/outputs/*
**/data/*
**/explainer_ckpts/*
**/explain_index/*
**/checkpoints/*
**/log/*
**/processed/*
**/saved_models/*
**/saved_checkpoints/*
**/saved_mcts_results/*
.idea/
**/__pycache__
**/*.ipynb
!**/preprocessTrial.ipynb
**/*.eggs
**/*.vscode
**/*.coverage
**/*.DS_Store
TGIB Explainer/TGIB_Data
tgnnexplainer/soc-redditHyperlinks-body.tsv
!tgnnexplainer/Reddit_hyperlinks_preprocess.ipynb
!tgnnexplainer/preprocessTrialHetav.ipynb
!tgnnexplainer/preprocessKairos.ipynb
tgnnexplainer/reddit_hyperlinks.csv
tgnnexplainer/reddit_hyperlinks_10k.csv
tgnnexplainer/reddit_hyperlinks_200.csv
tgnnexplainer/ml_reddit_node.npy
tgnnexplainer/ml_reddit.npy
tgnnexplainer/ml_reddit.csv
tgnnexplainer/kairosSample/*
tgnnexplainer/4_3_Kairos_unprocessed.csv
tgnnexplainer/combined_data_4_3_Kairos.csv